<div class="card">
    <div class="card-header"> Testing Form </div>
    <div class="card-body">
        <label>Username : </label>
        <input [(ngModel)]="name" type="text" placeholder="Enter username"/>
        <br>
        <label>Email Id : </label>
        <input [(ngModel)]="emailid" type="text" placeholder="Enter email"/>
        <br>
        <button type="submit" class="btn btn-success"> Add </button>
    </div>
</div>

<div>
    <p>Username : <b>{{name}}</b></p>
    <p>Email Id : <b>{{emailid}}</b></p>
</div>